p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 45px auto 200px auto;
    width: 15%;
    border: 2px solid;
    padding: 10px 20px 20px 10px;
}