body{
    background-color: #2c3e50 ;
    color: white;
}

#yellow{
    color: #f1c40f;
}
#border-yellow{
    border: 2px solid black;
    color: black;
}
.yellow{
    background-color: #f1c40f;
}
#red{
    color: #e74c3c;
}
