h1{
    font-size: 50px;
    border-color: rgb(14, 238, 100);
    border-width: 8px;
    border-style: solid; 
}
li{
    color: green;
}
body{
    background-image: url("https://www.spacex.com/static/images/backgrounds-2021/hls-resized-2.webp");
/*     background-repeat: no-repeat;
 */    background-size: cover;
}
h4{
    border: 5px dashed red;
}
